<section class="h-100 h-custom" style="background-color: #d2c9ff">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-9">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                  </div>
                  <div
                    *ngFor="let item of items"
                    class="row mb-6 d-flex justify-content-between align-items-center"
                  >
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        [src]="item.product.image"
                        [alt]="item.product.title"
                        class="img-fluid rounded-3"
                      />
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{ item.product.title }}</h6>
                    </div>
                    <div class="col-md-2 col-lg-3 col-xl-2 d-flex">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        [(ngModel)]="item.quantity"
                        min="1"
                        (change)="updateQuantity(item, item.quantity)"
                      />
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">$ {{ item.product.price }}</h6>
                    </div>
                    <div class="col-md-2 col-lg-3 col-xl-2 d-flex">
                      <button
                        class="btn btn-outline-danger"
                        (click)="removeFromCart(item)"
                      >
                        Remove
                      </button>
                    </div>
                    <hr class="my-4" />
                  </div>

                  <div class="pt-3">
                    <h6 class="mb-0">
                      <a href="" class="text-body"
                        ><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                        shop</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 bg-grey">
                <div class="p-5 row">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total items</h5>
                    <h5>{{ items.length }}</h5>
                  </div>
                  <div class="d-flex justify-content-between mb-5">
                    <h4 class="text-uppercase">Total price</h4>
                    <h4>$ {{ total }}</h4>
                  </div>

                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                  >
                    Buy Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
